[general]
	changesPerPage = 100
	dateFormat = uk
	timeFormat = hhmm 24
[my "Changes"]
	url = /dashboard/self
[my "Draft Comments"]
	url = /q/has:draft
[my "Edits"]
	url = /q/has:edit
[my "Watched Changes"]
	url = /q/is:watched+is:open
[my "Starred Changes"]
	url = /q/is:starred
[my "Groups"]
	url = "/settings/#Groups"
[diff]
	context = 25
	tabSize = 4
	fontSize = 10
[edit]
	tabSize = 4
