[my "Changes"]
	url = "#/dashboard/self"
[my "Drafts"]
	url = "#/q/owner:self+is:draft"
[my "Draft Comments"]
	url = "#/q/has:draft"
[my "Watched Changes"]
	url = "#/q/is:watched+is:open"
[my "Starred Changes"]
	url = "#/q/is:starred"
[my "Groups"]
	url = "#/groups/self"
[general]
	downloadScheme = ssh
	downloadCommand = cherry pick
	emailStrategy = cc on own comments
