[general]
	timeFormat = hhmm 24
	changesPerPage = 50
	downloadScheme = anonymous http
[my "Changes"]
	url = /dashboard/self
[my "Draft Comments"]
	url = /q/has:draft
[my "Edits"]
	url = /q/has:edit
[my "Watched Changes"]
	url = /q/is:watched+is:open
[my "Starred Changes"]
	url = /q/is:starred
[my "Groups"]
	url = "/settings/#Groups"
