[project]
	description = Individual user settings and preferences.
[access "refs/groups/*"]
	exclusiveGroupPermissions = read
	read = group Registered Users
[access "refs/users/${shardeduserid}"]
	exclusiveGroupPermissions = label-Code-Review push read submit
	label-Code-Review = -2..+2 group Registered Users
	push = group Registered Users
	read = group Registered Users
	submit = group Registered Users
[access "refs/users/default"]
	exclusiveGroupPermissions = create push read
	create = group Administrators
	push = group Administrators
	read = group Administrators
[label "Code-Review"]
	function = MaxWithBlock
	defaultValue = 0
	value = -2 This shall not be submitted
	value = -1 I would prefer this is not submitted as is
	value = 0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
	copyCondition = changekind:NO_CHANGE OR changekind:TRIVIAL_REBASE OR is:MIN
