[project "All-Users"]
	notify = git clone \"https://gerrit.omnirom.org/All-Users\" [ABANDONED_CHANGES, ALL_COMMENTS, NEW_CHANGES, NEW_PATCHSETS, SUBMITTED_CHANGES]
[project "Fake_Tests"]
	notify = git clone \"https://gerrit.omnirom.org/Fake_Tests\" [ABANDONED_CHANGES, ALL_COMMENTS, NEW_CHANGES, NEW_PATCHSETS, SUBMITTED_CHANGES]
[project "android"]
	notify = git clone \"https://gerrit.omnirom.org/android\"  [ABANDONED_CHANGES, ALL_COMMENTS, NEW_CHANGES, NEW_PATCHSETS, SUBMITTED_CHANGES]
[project "All-Projects"]
	notify = git clone \"https://gerrit.omnirom.org/All-Projects\" [ABANDONED_CHANGES, ALL_COMMENTS, NEW_CHANGES, NEW_PATCHSETS, SUBMITTED_CHANGES]
