[project "android_kernel_oppo_msm8974"]
	notify = * []
[project "android_device_asus_tf700t"]
	notify = * []
[project "android_device_oppo_find7a"]
	notify = * []
[project "android_device_asus_tf300t"]
	notify = * []
[project "android_device_oppo_find7op"]
	notify = * []
[project "android_kernel_asus_tf700t"]
	notify = * []
[project "android_device_samsung_manta"]
	notify = * []
[project "android_kernel_asus_tf300t"]
	notify = * []
[project "android_device_oppo_msm8974-common"]
	notify = * []
